<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar
      class="cursor-pointer"
      routerLink="/"
      routerLinkActive="router-link-active"
      >Directives</mat-toolbar
    >
    <mat-nav-list>
      <a mat-list-item><p routerLink="custom-validator">01. Custom validator</p></a>
      <a mat-list-item><p routerLink="autofocus">02. Autofocus</p></a>
      <a mat-list-item><p routerLink="lazy-load">03. Lazy load</p></a>
      <a mat-list-item><p routerLink="draggable">04. Drag and Drop</p></a>
      
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>
    <app-content />
  </mat-sidenav-content>
</mat-sidenav-container>
